# Change file Path

In [22]:
import os

os.chdir('/content/drive/MyDrive/Colab/Datasets/')

In [17]:
import pandas as pd

df = pd.read_csv('nba.csv')

df.isnull().sum()

Name         1
Team         1
Number       1
Position     1
Age          1
Height       1
Weight       1
College     85
Salary      12
dtype: int64

## Reading Dataset

In [3]:
import pandas as pd
from scipy.stats import kurtosis
import math

df = pd.read_csv('nba.csv')

correl = df['Age'].corr(df['Salary'])
print(correl)

0.21345946515857156

## Under Pack

In [ ]:
print("Hi, Chris")

Hi, Chris